.templet_small{
  display: flex !important;
  width: 100% !important;
  flex-wrap: wrap;
   
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.main_cont{
 display: flex !important;
 align-items: center;
 overflow: hidden;
 width: 100%;
}
/* .img_cont{
  
} */